body {
  background-image: url("images/galaxy.jpg");
  background-size: 100%;
  background-position: 50% 35%;
  font-family: "Palatino Linotype";
  text-align: center;
}

header {
  color: white;
  padding-top: 100px;
  height: 300px;
  text-shadow: black 1px 1px 10px;
}

hr {
  border-style: double none none;
  border-width: 5px;
  border-color: white;
  width: 50%;
  padding-bottom: 40px;
}

p {
  padding-top: 3px;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-shadow: #e78d3e 1px 1px 10px;
}

.greeting {
  font-size: 50px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.query {
  padding-top: 100px;
  font-size: 25px;
}
